body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.08);
    padding: 30px;
    text-align: center;
    transition: all 0.3s ease;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.unpointable {
    cursor: default !important;
}

button:hover {
    background-color: #27ae60;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.arrow:hover {
    color: #3498db;
    transform: scale(1.2);
}

.content {
    font-size: 18px;
    text-align: center;
}

.image-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-image,
.player-avatar > img {
    position: absolute;
    top: 0;
    left: 0;
}

img {
    width: 100%;
    height: 100%;
}

#character-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#player-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.player-avatar {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.player-avatar.guessed-avatar {
    margin-top: 0;
    width: 115px;
    height: 115px;
}

.player-avatar .player-info {
    position: absolute;
    bottom: -30px;
    width: 130px;
}

.player-info p {
    position: relative;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center;
    margin-block: 2px;
}

div.things-answer {
    margin-block: 15px;
}

.selection-pane {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3.guess-text {
    margin-bottom: 0;
}

.things-guess-btn {
    margin-top: 10px;
}

strong.things-guessed {
    font-size: 1.15em;
}

h2.guessed-things-answer {
    margin-block: 10px;
}

h4.things-result-text {
    font-size: 1.5em;
    margin: 30px 0 15px;
}
