body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.lobby-page {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.lobby-container {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 80vh; /* Make the container height 80% of the viewport */
}

.top-half {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.player-list-container, .game-options-container {
    width: 48%; /* Make each section half the width */
    padding: 15px;
}

.player-list-container ul {
    padding: 0;
    list-style-type: none;
}

.player-list-container li {
    padding: 5px 0;
}

.game-options-container {
    padding: 15px;
}

.game-options-container select {
    padding: 5px;
    margin-top: 10px;
}

.action-buttons {
    margin: 15px;
}

.action-buttons button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}

.action-buttons button:not(:enabled) {
    background-color: #485a6e;
    color: lightgray;
    &:hover {
        cursor: not-allowed;
    }
}

.action-buttons button:hover:enabled {
    background-color: #0056b3;
    cursor: pointer;
}

.chat-container {
    height: 50%; /* The bottom half of the container */
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.chat-window {
    flex: 1;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
}

#chat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#chat-input:focus {
    outline: none;
}

thead th {
    text-align: left;
}

.player-name {
    min-width: 10em;
}

.game-option {
    margin-inline: 5px 15px;
}

#copy-code {
    margin-inline: 5px;
}

.copied-tooltip {
    position: relative;
}
  
.copied-tooltip:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    bottom: -2em;
    background-color: #555d;
    color: white;
    padding: .25em .5em;
}
