<div id="things-reveal-container">
    <h2>THINGS...</h2>
    <p>{{ prompt | titlecase }}</p>
    <hr>
    <h3>{{ guesserName }} Guessed:</h3>
    <div class="selection-pane">
        <div class="player-avatar guessed-avatar">
            <img id="guess-bkg" class="player-bkg-image" src="{{ colorAsset }}">
            <img id="guess-character" class="player-character-image" src="{{ characterAsset }}">
        </div>
    </div>
    <span class="things-that-text"><br>that <strong>{{ guessedName }}</strong> said</span>
    <h2 class="guessed-things-answer">{{ answerText }}</h2>
    <hr>
    <h4 class="things-result-text">
        {% if correct %}
            Correct! 
            &nbsp;<i class="fa-solid fa-check" style="color: green;"></i>
        {% else %}
            Incorrect. 
            &nbsp;<i class="fa-solid fa-x" style="color: red;"></i>
        {% endif %}
    </h4>
    {% if isGuesser %}
        <button id="things-next-button" onclick="emitNextThings()" disabled>Next &rarr;</button>
    {% endif %}
</div>